
  {% load static %}

<div id="myCarousel" class="carousel slide mb-6 pointer-event" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for marketing in marketings %}
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-label="Slide {{ forloop.counter }}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for marketing in marketings %}
        <div class="carousel-item{% if forloop.first %} active{% endif %} {% if forloop.counter0 == 1 %}carousel-item-start{% endif %}">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg> -->
            
            <div class="image-container bg-dark">
                <img class="bd-placeholder-img" src="{{marketing.image.url}}" width="100%" height="100%" alt="" style="opacity: 0.25;">
            </div>
            
            <div class="container">
                <div class="carousel-caption{% if forloop.counter0 == 5 %} text-end{% elif forloop.counter0 == 1 %} text-center{% endif %}" style="color: aliceblue;">
                    <h1 class="mb-3 mb-sm-4">{{ marketing.name }}</h1>
                    <p class="text-sm">{{ marketing.description }}</p>
                    {% comment %} <p><a class="btn btn-lg btn-secondary" href="{% url 'contact_view' %}">Get Quote</a></p> {% endcomment %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
