<div class="" id="offerings">
  <h2 class="pb-2 border-bottom">Products</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      {% for offering in offerings %}
    <div class="col d-flex align-items-start">
      <!-- <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"></use></svg> -->
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">{{offering.name}}</h3>
        <p>{{offering.description|safe}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>