
{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    
    <h1>Product List</h1>
    {% for product in products %}
        <div>
            {% comment %} <!-- <h2><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h2> --> {% endcomment %}
            {% comment %} <!-- <p>Price: {{ product.price }}</p> --> {% endcomment %}
            <p>Name: {{ product.name }}</p>
            <p>Stock: {{ product.stock }}</p>
            <!-- Add more product information here as needed -->
        </div>
    {% endfor %}

    <!-- Pagination links -->
    <div>
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>

{% endblock %}